<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>影院</title>


    <script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }
    </script>


    <link rel="stylesheet" type="text/css" href="./css/bootstrap.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="./css/slicknav.min.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="./css/icofont.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="./css/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="./css/magnific-popup.css">
    <link rel="stylesheet" type="text/css" href="./css/movie_style.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="./css/responsive.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="./css/movie.css" media="all"/>
    <link rel="stylesheet" type="text/css" href="./css/register.css"/>


</head>

<body style="background-color: rosybrown">

<div>
    <!-- header -->
    <header style="height: 80px;">
        <nav class="navbar navbar-expand-lg navbar-light bg-gradient-secondary pt-3" style="padding-bottom: 16px;height: 72px;padding-left: 80px;padding-right: 80px;padding-top: 8px;">
            <h1 style="padding-top: 30px;"><a class="sign" href="/index" style="font-size: 60px;padding-top: 40px;">🌙 M O O N</a></h1>
            <button class="navbar-toggler ml-md-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-top: 15px;">
                <ul class="navbar-nav ml-auto" style="font-size: 20px">
                    <li class="nav-item active">
                        <a class="nav-link" href="/index" style="color: #FFFFFF">主页</a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="/movie" style="color: #FFFFFF">电影</a>
                    </li>
                    <li th:if="${session.status == 'logout'}" class="nav-item">
                        <a class="nav-link" href="/login"  style="color: #FFFFFF">登入</a>
                    </li>
                    <li th:if="${session.status == 'login'}" class="nav-item">
                        <a class="nav-link" href="/person"  style="color: #FFFFFF">个人中心</a>
                    </li>
                    <li th:if="${session.status == 'login'}" class="nav-item">
                        <a class="nav-link" href="/logout"  style="color: #FFFFFF">登出</a>
                    </li>
                </ul>
            </div>
            <br>
        </nav>
    </header>

    <div class="header-right">
        <div style="width:97%;padding-top: 8px;padding-right: 10px" align="right">
            <form action="/search" method="post">
                <select>
                    <option value="Movies">Movies</option>
                </select>
                <input id="title" name="title" type="text"/>
                <button>搜索</button>
            </form>
        </div>
    </div>
</div>

<section class="hero-area" id="home">
    <div class="container">
        <div class="hero-area-slider">
            <div class="row hero-area-slide">
                <div class="col-lg-6 col-md-5">
                    <div class="hero-area-content">
                        <img src="./images/movie/slide/2.jpg" alt="about"/>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="hero-area-content pr-50">
                        <h2>禁闭岛</h2>
                        <p>
                            《禁闭岛》改编自美国小说家丹尼斯·勒翰的同名小说，由马丁·斯科塞斯执导，莱昂纳多·迪卡普里奥、马克·鲁弗洛、本·金斯利、米歇尔·威廉姆斯、艾米莉·莫迪默、派翠西娅·克拉克森、马克斯·冯·西多等主演。该片于2010年2月19日在美国上映。
                            影片讲述了联邦侦探泰德·丹尼尔受命到一座岛上调查一个杀人机构，却因此遇到了重重危险和谜团的故事。</p>
                    </div>
                </div>
            </div>
            <div class="row hero-area-slide">
                <div class="col-lg-6 col-md-5">
                    <div class="hero-area-content">
                        <img src="./images/movie/slide/3.jpg" alt="about"/>
                    </div>
                </div>
                <!--						Last Avatar-->
                <div class="col-lg-6 col-md-7">
                    <div class="hero-area-content pr-50">
                        <h2>闪电侠</h2>
                        <p>闪电侠（The Flash）是美国DC漫画旗下超级英雄，初次登场于《闪电侠漫画》（Flash
                            Comics）第1期（1940年1月）。在DC漫画史中曾有多位角色曾使用过闪电侠这一称号。最为人所熟知的闪电侠是在《展示橱》（Showcase）第4期（1956年10月）中登场的巴里·艾伦（Barry
                            Allen）和在1986年接替巴里成为新任闪电侠的沃利·韦斯特（Wally West），他们先后担任漫画期刊《闪电侠》主角的时间超过20年。</p>
                    </div>
                </div>
            </div>
            <div class="row hero-area-slide">
                <div class="col-lg-6 col-md-5">
                    <div class="hero-area-content">
                        <img src="./images/movie/slide/1.jpg" alt="about"/>
                    </div>
                </div>
                <div class="col-lg-6 col-md-7">
                    <div class="hero-area-content pr-50">
                        <h2>美女与野兽</h2>
                        <p>《美女与野兽》是由美国华特·迪士尼影片公司出品的奇幻片，由比尔·康顿执导，艾玛·沃特森、丹·史蒂文斯、卢克·伊万斯、凯文·克莱恩、乔什·盖德、伊万·麦格雷戈、斯坦利·图齐等联合主演。
                            该片根据迪士尼1991年同名动画电影改编，讲述了少女贝儿为解救父亲而与受诅咒化为野兽的王子朝夕相处，最终用真爱战胜魔法的故事。</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="hero-area-thumb">
            <div class="thumb-prev">
                <div class="row hero-area-slide">
                    <div class="col-lg-6">
                        <div class="hero-area-content">
                            <img src="./images/movie/slide/2.jpg" alt="about"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-area-content pr-50">
                            <h2>闪电侠</h2>
                            <p>闪电侠（The Flash）是美国DC漫画旗下超级英雄，初次登场于《闪电侠漫画》（Flash
                                Comics）第1期（1940年1月）。在DC漫画史中曾有多位角色曾使用过闪电侠这一称号。最为人所熟知的闪电侠是在《展示橱》（Showcase）第4期（1956年10月）中登场的巴里·艾伦（Barry
                                Allen）和在1986年接替巴里成为新任闪电侠的沃利·韦斯特（Wally West），他们先后担任漫画期刊《闪电侠》主角的时间超过20年。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="thumb-next">
                <div class="row hero-area-slide">
                    <div class="col-lg-6">
                        <div class="hero-area-content">
                            <img src="./images/movie/slide/1.jpg" alt="about"/>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="hero-area-content pr-50">
                            <h2>美女与野兽</h2>
                            <p>
                                《美女与野兽》是由美国华特·迪士尼影片公司出品的奇幻片，由比尔·康顿执导，艾玛·沃特森、丹·史蒂文斯、卢克·伊万斯、凯文·克莱恩、乔什·盖德、伊万·麦格雷戈、斯坦利·图齐等联合主演。
                                该片根据迪士尼1991年同名动画电影改编，讲述了少女贝儿为解救父亲而与受诅咒化为野兽的王子朝夕相处，最终用真爱战胜魔法的故事。</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!-- hero area end -->

<!-- 最新片源 -->
<section class="portfolio-area pt-60">
    <div class="container" style="height: 800px;">

        <div class="row flexbox-center">
            <div class="col-lg-6 text-center text-lg-center">
                <div class="section-title">
                    <h1>经典影片</h1>
                </div>
            </div>
            <div class="col-lg-6 text-left text-lg-right">
                <div class="portfolio-menu">
                    <ul>
                        <li data-filter=".drama" style="color:white;font-size: 15px;padding-bottom: 10px" onclick="showm5()">少儿</li>
                        <li data-filter=".love" style="color:white;font-size: 15px;padding-bottom: 10px" onclick="showm4()">爱情</li>
                        <li data-filter=".action" style="color:white;font-size: 15px;padding-bottom: 10px" onclick="showm3()">动作</li>
                        <li data-filter=".history" style="color:white;font-size: 15px;padding-bottom: 10px" onclick="showm2()">喜剧</li>
                        <li data-filter=".personal" style="color:white;font-size: 15px;padding-bottom: 10px" onclick="showm1()">猜你喜欢</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row portfolio-item" style="position: relative; height: 750px;">
            <div class="drama" id="m5">
                <div class="container">
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-4" th:each="movieInfo : ${newCartoonMovies}">
                            <span class="single-portfolio">
                                <input type="hidden" id="id5" name="id" th:value="${movieInfo.movieId}"/>
                                <a th:href="@{/detail(id=${movieInfo.movieId})}">
                                    <img height="300px" width="200px" th:src="@{'/poster/'+${movieInfo.movieId}+'.jpg'}"/>
                                </a>
                                <p id="title5" name="title" style="color:white;" th:text="${movieInfo.title}"></p>
                            </span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="love" id="m4">
                <div class="container">
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-4" th:each="movieInfo : ${newLoveMovies}">
                            <span class="single-portfolio">
                                <input type="hidden" id="id4" name="id" th:value="${movieInfo.movieId}"/>
                                <a th:href="@{/detail(id=${movieInfo.movieId})}">
                                    <img height="300px" width="200px" th:src="@{'/poster/'+${movieInfo.movieId}+'.jpg'}"/>
                                </a>
                                <p id="title4" name="title" style="color:white;" th:text="${movieInfo.title}"></p>
                            </span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="action" id="m3">
                <div class="container">
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-4" th:each="movieInfo : ${newActionMovies}">
                            <span class="single-portfolio">
                                <input type="hidden" id="id3" name="id" th:value="${movieInfo.movieId}"/>
                                <a th:href="@{/detail(id=${movieInfo.movieId})}">
                                    <img height="300px" width="200px" th:src="@{'/poster/'+${movieInfo.movieId}+'.jpg'}"/>
                                </a>
                                <p id="title3" name="title" style="color:white;" th:text="${movieInfo.title}"></p>
                            </span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="history" id="m2">
                <div class="container">
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-4" th:each="movieInfo : ${newComedyMovies}">
                            <span class="single-portfolio">
                                <input type="hidden" id="id2" name="id" th:value="${movieInfo.movieId}"/>
                                <a th:href="@{/detail(id=${movieInfo.movieId})}">
                                    <img height="300px" width="200px" th:src="@{'/poster/'+${movieInfo.movieId}+'.jpg'}"/>
                                </a>
                                <p id="title2" name="title" style="color:white;" th:text="${movieInfo.title}"></p>
                            </span>
                        </div>

                    </div>
                </div>
            </div>

            <div class="personal" id="m1">
                <div class="container">
                    <div class="row" style="padding-top: 10px;">
                        <div class="col-md-4" th:each="movieInfo : ${newRecommendMovies}">
                            <span class="single-portfolio">
                                <input type="hidden" id="id1" name="id" th:value="${movieInfo.movieId}"/>
                                <a th:href="@{/detail(id=${movieInfo.movieId})}">
                                   <img height="300px" width="200px" th:src="@{'/poster/'+${movieInfo.movieId}+'.jpg'}"/>
                                </a>
                                <p id="title1" name="title" style="color:white;" th:text="${movieInfo.title}"></p>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section><!-- portfolio section end -->


<!--		copyright-->
<footer>
    <div class="copyright">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 text-center text-lg-left">
                    <div class="copyright-content">
                        <p>&copy; MOON 2022 | All Right Reserved</p>
                    </div>
                </div>
                <div class="col-lg-6 text-center text-lg-right">
                    <div class="copyright-content">
                        <a href="#" class="scrollToTop">
                            Back to top
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer><!-- footer section end -->


<!-- jquery main JS -->
<script src="./js/jquery.min.js"></script>
<!-- Bootstrap JS -->
<script src="./js/bootstrap.min.js"></script>
<!-- Slick nav JS -->
<script src="./js/jquery.slicknav.min.js"></script>
<!-- owl carousel JS -->
<script src="./js/owl.carousel.min.js"></script>
<!-- Popup JS -->
<script src="./js/jquery.magnific-popup.min.js"></script>
<!-- Isotope JS -->
<script src="./js/isotope.pkgd.min.js"></script>
<!-- main JS -->
<script src="./js/main.js"></script>
<script>
    $(document).ready(function () {
        $("#m1").hide();
        $("#m2").hide();
        $("#m3").hide();
        $("#m4").hide();
        $("#m5").show();
        $("#m6").show();
    })


    function showm1() {
        $("#m1").show();
        $("#m6").show();
    }

    function showm2() {
        $("#m2").show();
        $("#m6").show();
    }

    function showm3() {
        $("#m3").show();
        $("#m6").show();
    }

    function showm4() {
        $("#m4").show();
        $("#m6").show();
    }

    function showm5() {
        $("#m5").show();
        $("#m6").show();
    }

</script>
</body>
</html>


