<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.movie.mapper.MovieInfoMapper">

    <select id="getNewMovies" resultType="com.web.movie.entity.MovieInfo">
        MATCH (n:Movie)
        RETURN
            n.movieId as movieId,
            n.title as title,
            n.region as region,
            n.language as language,
            n.introduction as introduction,
            n.releaseYear as releaseYear
        LIMIT 6
    </select>

    <select id="getMovieById" resultType="com.web.movie.entity.MovieInfo">
        MATCH (n:Movie)
        WHERE n.movieId=#{movie_id}
        RETURN
            n.movieId as movieId,
            n.title as title,
            n.region as region,
            n.language as language,
            n.introduction as introduction,
            n.releaseYear as releaseYear
    </select>

    <select id="getMovieByTitle" resultType="com.web.movie.entity.MovieInfo">
        MATCH (n:Movie)
        WHERE n.title contains #{movie_title}
        RETURN
            n.movieId as movieId,
            n.title as title,
            n.region as region,
            n.language as language,
            n.introduction as introduction,
            n.releaseYear as releaseYear
        Order by n.releaseYear DESC
    </select>

    <select id="getGenreById" resultType="com.web.movie.entity.Genre">
        MATCH (m:Movie)-[:IS_TYPE_OF]->(g:Genre)
        WHERE m.movieId=#{movie_id}
        RETURN
        g.type as type
    </select>

    <select id="getActorsById" resultType="com.web.movie.entity.Actor">
        MATCH (p:Person)-[:ACTED_IN]->(m:Movie)
        WHERE m.movieId=#{movie_id}
        RETURN
            p.name as name
    </select>

    <select id="getDirectorsById" resultType="com.web.movie.entity.Director">
        MATCH (p:Person)-[:DIRECTED]->(m:Movie)
        WHERE m.movieId=#{movie_id}
        RETURN
              p.name as name
    </select>


</mapper>