<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.movie.mapper.UserMapper">

    <!--登录 -->
    <select id="getLoginInfo" resultType="com.web.movie.entity.User">
        MATCH (u:User)
        WHERE u.userName=#{userName} and u.passWord=#{passWord}
        RETURN
              u.userId as userId,
              u.userName as userName
    </select>

    <!--注册 -->
    <insert id="addUser" parameterType="com.web.movie.entity.User">
        CREATE (u:User)
        SET u.userId=#{userId},u.userName=#{userName},u.passWord=#{passWord},u.QQNumber=#{QQNumber},u.email=#{email},u.age=#{age}
    </insert>

    <!--获取用户个人信息 -->
    <select id="getUserInfoById" resultType="com.web.movie.entity.User">
        MATCH (u:User)
        WHERE u.userId=#{id}
        RETURN
            u.userId as userId,
            u.userName as userName,
            u.QQNumber as QQNumber,
            u.email as email,
            u.age as age
    </select>

    <!--修改用户个人信息 -->
    <update id="updateUserInfo" parameterType="com.web.movie.entity.User">
        MATCH (u:User)
              WHERE u.userId=#{userId}
        SET u.userName=#{userName},u.QQNumber=#{QQNumber},u.email=#{email},u.age=#{age}
    </update>

    <!--通过昵称检索用户 -->
    <select id="getUserByName" resultType="com.web.movie.entity.User">
        MATCH (u:User)
        WHERE u.userName=#{userName}
        RETURN
            u.userName as userName,
            u.passWord as passWord
    </select>

    <!--获取注册用户数 -->
    <select id="getUserCount" resultType="int">
        MATCH (u:User) RETURN count(u)
    </select>

</mapper>